<!-- 页尾begin -->
		<div class="public_footerfun_module">
		
	<div class="inner clearfix">
		<ul>
			<li class="func focusOn clearfix">
				<div class="left">
					<img src="img/footer_share.jpg" alt="" class="icon">
				</div>
				<div class="right">
					<p class="title">关注我们</p>
					<p class="desc">最受欢迎的阅读产品</p>
					<p class="subtitle">关注我们：</p>
					<ul class="share_link">
						<li id="footerWeiboShare"><a href="http://weibo.com/dangdangread" target="_blank"><i class="icon weibo"></i>新浪微博</a></li>
						<li><a href="javascript:;"><i class="icon weixin"></i>官方微信<div class="ecode"><span class="arrow"></span><img src="img/footer_ecode.jpg" alt=""></div></a></li>
					</ul>
				</div>
			</li>
			<li class="func author clearfix">
				<div class="left">
					<img src="img/footer_author.jpg" alt="" class="icon">
				</div>
				<div class="right">
					<p class="title"><a href="http://dpp.dangdang.com/" target="_blank">作者后台</a></p>
					<p class="desc">加入当当原创网，尊享作者</p>
					<p class="subtitle">福利，成就网文大神</p>
					<div class="btn"><a href="http://chuban.dangdang.com" target="_blank">我要写书<i></i></a></div>
				</div>
			</li>
			<li class="func about_us clearfix">
				<div class="left">
					<img src="img/footer_us.jpg" alt="" class="icon">
				</div>
				<div class="right">
					<p class="title">关于我们</p>
					<p class="desc">欢迎反馈宝贵意见给我们</p>
					<p class="subtitle">客服书吧：当当读书5.0问答</p>
					<div class="btn"><a href="bar_detail_page.html?barId=2618070" target="_blank">意见反馈<i></i></a></div>
				</div>
			</li>
		</ul>
	</div>

	</div>
	<div class="public_footermes_module">
		
	<div class="footer_copyright"><span>Copyright (C) 当当网 2004-2014, All Rights Reserved</span></div>
	<div class="footer_copyright"><span><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP证041189号</a></span><span class="sep">|</span><span>出版物经营许可证 新出发京批字第直0673号</span></div>


	</div>
	<!-- 页尾end -->