<!--# include virtual="header.html"-->	
 <!--二级导航开始-->
    <div class="public_child_nav" dd_name="导航浮层">
        <div class="public_headerchildnav_module">
			<div class="childrennav">
				<div class="chuban" style="display:none;">
					<div class="inner">
						<a target="_blank" href="./classification_list_page.html?category=WY1&dimension=dd_sale&order=0">文艺</a>|
						<a target="_blank" href="./classification_list_page.html?category=JG&dimension=dd_sale&order=0">经管</a>|
						<a target="_blank" href="./classification_list_page.html?category=SK&dimension=dd_sale&order=0">社科</a>|
						<a target="_blank" href="./classification_list_page.html?category=SH&dimension=dd_sale&order=0">生活</a>|
						<a target="_blank" href="./classification_list_page.html?category=JY&dimension=dd_sale&order=0">教育</a>|
						<a target="_blank" href="./classification_list_page.html?category=KJ&dimension=dd_sale&order=0">科技</a>|
						<a target="_blank" href="./classification_list_page.html?category=TS&dimension=dd_sale&order=0">童书</a>|
						<a target="_blank" href="./classification_list_page.html?category=JKS&dimension=dd_sale&order=0">进口书</a>|
						<a target="_blank" href="./classification_list_page.html?category=WLWX&dimension=dd_sale&order=0">网络文学</a>
					</div>
				</div>
				<div class="yuanchuang">
					<div class="inner">
						<a href="javascript:;" class="boy" id="publicChildMan"><i class="on"></i>男生</a>|
						<a href="javascript:;" class="girl" id="publicChildWoman"><i></i>女生</a>
					</div>
				</div>
			</div>
		</div>
    </div>
<!--二级导航结束-->
<!-- 头部开始 -->
	<div class="public_headersearch_module" dd_name="头部搜索">
	<div class="clearfix">
		<a href="http://www.dangdang.com" class="logo">
			<img src="img/logo.jpg" />
		</a>
		<div class="search">
			<input type="text" value="作品、作者、出版社" class="searchtext" />
			<span type="button" value="提交" class="searchbtn"></span>
		</div>
		<ul class="header_fun clearfix">
			<li class="header_cart">
					<a href="javascript:AddToShoppingCart(0);" name="购物车" dd_name="购物车">
						<i class="icon"></i>
						购物车
						<b id="cart_items_count"></b>
					</a>
			</li>
			<li class="header_order">
				<a href="javascript:void(0)" id="headerMyOrder">
					<i class="icon"></i>
					我的订单
				</a>
			</li>
			<li class="header_my">
				<a href="javascript:void(0)" id="readingCenterBtn">
					<i class="icon"></i>
					阅读中心
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- 头部结束 -->
<script type="text/javascript">var nick_num = 1;initHeaderOperate();</script>