<!DOCTYPE html>
<html lang="en">
<head>
	{% 
		local price_model = require "price"
		local common = require "common"
		
		if media_model ~= nil then
			local shelf_status = media_model.data.mediaSale.mediaList[1].shelfStatus
			-- media shelf status is 0, so redirect to 404.html
			if shelf_status == 0 then
				ngx.log(ngx.INFO, "product page error due to media shelf status is 0..................")
				return ngx.redirect("/error_page.html", ngx.HTTP_MOVED_TEMPORARILY)
			end
		else
			--media is nil redirect to 404.html
			ngx.log(ngx.INFO, "product page error due to media object is nil..................")
			return ngx.redirect("/error_page.html", ngx.HTTP_MOVED_TEMPORARILY)
		end

		local media_info = media_model.data.mediaSale.mediaList[1]
		local descs = ""
		if media_info.descs ~= nil then
			descs = media_info.descs
		end
		local publisher = ""
		if media_info.publisher ~= nil then
			publisher = media_info.publisher
		end
		local isbn = ""
		if media_info.isbn ~= nil then
			isbn = media_info.isbn
		end
	%}
	<meta charset="UTF-8">
	<title>{{media_info.title.."【简介_书评_在线阅读】-当当读书-当当图书"}}</title>
	<meta name="keywords" content="{{media_info.title.." "..descs..","..publisher..","..isbn}}" />
	<meta name="description" content="{{media_info.title.." "..descs}}" />
	<link type="text/css" rel="stylesheet" href="http://static.dangdang.com/css/win_login20150728.css?20150817">
	<link type="text/css" rel="stylesheet" href="css/common.min.css">
	<link type="text/css" rel="stylesheet" href="css/original_single_page.min.css">
</head>
<body>	
	{(head.html)}
	<!-- 导航开始 -->
	<div class="public_headernav_module padding_top_30" dd_name="头部导航">
	    <div class="public_headernav_module">
			<div class="nav">
				<ul>
					<li class="on"><a href="./index_page.html" >首页</a></li>
					<li class="chubannav"><a href="./publish_index_page.html">出版</a></li>
					<li class="yuanchuangnav"><a href="./original_index_page.html">网络文学</a></li>
					<li><a target="_blank" href="http://t.dangdang.com/20140107_5pz1">手机看书</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 导航结束 -->
	
	<!-- 中间内容开始 -->
	<div class="bgcolor">
		<div class="center"> 
			<!-- 面包屑开始 -->
			<div class="navigation_module" id="crumb" dd_name="面包屑">
				<a href="index_page.html">当当读书</a>
				{%	local categoryIds = media_info.categoryIds
					local split_result = common.lua_string_split(categoryIds, ",")
					if split_result ~= nil then %}
				<a href="classification_list_page.html?category={{split_result[1]}}&dimension=dd_sale">{{media_info.categorys}}</a>
				{% end %}
				<a class="focus">{{media_info.title}}</a>
			</div>
			<!-- 面包屑结束 -->
	
			<div class="main original_single clearfix">
				<!-- 左侧开始 -->
				<div class="left">
					<!-- 单品开始 -->
					<div id="content">
						<div class="content clearfix">
							<div class="image"><img src="{{media_info.coverPic}}"></div>
							<div class="descript">
								<div class="title">{{media_info.title}}</div>
								<div class="stars">
									{%  local score = media_info.score 
										for i=1, score do %}
										<i class="yellow icon"></i>	
									{% end %}
									{% for i=1, 5-score do %}
										<i class="grey icon"></i>
									{% end %}
									{% local commentNumber = media_info.commentNumber 
									if commentNumber ~= nil then %}
									({{commentNumber}}人评分)
									{% else %}
									(0人评论)
									{% end %}
								</div>
								<table class="content">
									<tr>
										<td>分类：{{media_info.categorys}}</td>
										<td>作者：{{media_info.authorPenname}}</td>
									</tr>
									<tr>
										{% local wordCount = media_info.wordCnt 
										if  wordCount > 10000 then
											wordCount = string.format("%.2f", wordCount/10000).."万"
										end %}
										<td>字数：{{wordCount}}</td>
										{% local text = "" 
											if media_info.isFull == 1 then
												text = "完结"
											elseif media_info.isFull == 0 then	
												if media_info.lastChapterName ~= nil then
													text = "更新至"..media_info.lastChapterName
												end								
											end											
										%}		
										<td>状态：{{text}}</td>
									</tr>
								</table>
								<div class="desc" title="{{media_info.descs}}">
									{% 	local descs_length = string.len(media_info.descs) 
										if descs_length > 350 then %}
											{{common.sub_utf8_string(media_info.descs, 350).."..."}}
									{% else %}
										{{media_info.descs}}	
									{% end %}																						
								</div>
								<div class="buttons">
									{%  if media_info.isSupportFullBuy == 1 and media_info.isWholeAuthority == 0 then %}
										<div class="button salebtn" id="buy_now_button" deviceTypeCodes="pconline|android|iphone" data-price="{{media_info.price}}">购买</div>																			
									{% end %}
									<div class="button readbtn">立即阅读</div>
									<div class="button categorysbtn">目录</div>
									<div id="collectC" data-isStore="{{media_info.isStore}}"></div>
									<div id="ShareC"></div>
								</div>								
							</div>
						</div>
					</div>
					<!-- 单品结束 -->
					
					<!-- 打赏开始 -->
					<div class="support">
						<div class="leftC" id="supportlist">
							{%  if media_reward_record_model ~= nil then 
								local reward_list = media_reward_record_model.data.rewardList
									if reward_list[1] == nil then %}
									<table>
										<tbody>
											<tr>
												<td><img src="img/original_single/ring.png"></td>
												<td class="title">累计捧场0</td>
											</tr>
											<tr>
												<td colspan="2"><img src="img/original_single/nodata.png" style="width:85%"></td>
											</tr>
										</tbody>
									</table>
									{% else %}
									<table>
										<tr>
											<td><img src="img/original_single/ring.png"></td>
											<td class="title">累计捧场{{media_reward_record_model.data.totalConis}}</td>
										</tr>
										{% 
											for k, v in pairs(reward_list) do %}
												<tr>
													<td>{{v.username}}</td>
													<td><i class="icon ring"></i>{{v.cons}}</td>
												</tr>
											{% end %}									
									</table>								
									{% end									
								 else %}
								<table>
									<tbody>
										<tr>
											<td><img src="img/original_single/ring.png"></td>
											<td class="title">累计捧场0</td>
										</tr>
										<tr>
											<td colspan="2"><img src="img/original_single/nodata.png" style="width:85%"></td>
										</tr>
									</tbody>
								</table>
								{% end %}
						</div>
						<div class="rightC">
							<img src="img/original_single/supporttext.png" class="text">
							<ul class="rings clearfix">
								<li data-rings="0"><img src="img/original_single/ring1.png"/>任意</li>
								<li data-rings="100"><img src="img/original_single/ring2.png"/>100金铃铛</li>
								<li data-rings="500"><img src="img/original_single/ring3.png"/>500金铃铛</li>
								<li data-rings="1000"><img src="img/original_single/ring4.png"/>1000金铃铛</li>
								<li data-rings="10000"><img src="img/original_single/ring5.png"/>10000金铃铛</li>
								<li data-rings="50000"><img src="img/original_single/ring6.png"/>50000金铃铛</li>
							</ul>
							<div class="opration clearfix">
								<div class="input">数量：<input type="text" id="supportNum" maxlength="6"/>共<span class="sum">0</span>金铃铛</div>
								<div class="money"><a href="recharge_methord_page.html"
									target="_blank">去充值>></a></div>
							</div>
							<div>
								<button class="supportbtn">捧场</button>
								<div id="supportMessage" class="hide"></div>
							</div>
						</div>						
					</div>
					<!-- 打赏结束 -->
					
					<!-- 书吧开始 -->
					{% if article_model ~= nil then %}
					<div class="product_bar_module" id="barModule" dd_name="书吧">
						<!-- 吧相关信息 -->
						{% if article_model.data.barInfo ~= nil then %}
							<div class="product_barcell_moudle clearfix" id="bar">
								<div class="header">
									<p>{{article_model.data.barInfo.barName}}书吧</p>
									<div class="bar"></div>
								</div>
								<div class="inner clearfix">
									<div class="pic">
										<div class="pic_wrap"><img src="{{article_model.data.barInfo.barImgUrl}}" alt=""></div>
										<div class="name">吧主</div>
									</div>
									<div class="desc">
										{% local link = "bar_detail_page.html?barId="..article_model.data.barInfo.barId %}
										<h1 class="title"><a href="{{link}}">{{article_model.data.barInfo.barName}}</a></h1>
										<div class="content"><a href="{{link}}">{{article_model.data.barInfo.barDesc}}</a></div>
									</div>
									<div class="fans clearfix">
										<div class="fans_num">
											<i class="icon icon_size_50"></i>
											<p class="num">粉丝{{article_model.data.barInfo.memberNum}}</p>
										</div>
										<a class="bar_write_btn" href="javascript:;" memberStatus="{{article_model.data.barInfo.memberStatus}}" barId="{{article_model.data.barInfo.barId}}" >发帖</a>
										<a class="read_more_post" href="bar_detail_page.html?barId={{article_model.data.barInfo.barId}}" target="_blank">查看全部帖子</a>								
									</div>
									<div class="masks" id="mask"></div>
									<div class="pop_enter_wrap" id="enterBar">
										<div class="opacity_border"></div>
										<div class="pop_enter">
											<img src="img/pop_enter_bar.jpg" alt="">
											<p class="pop_btn_line"><a href="javascript:;" class="no pop_btn" status="0">取消</a><a href="javascript:;" class="yes pop_btn" status="1" barId="{{article_model.data.barInfo.barId}}" >加入</a></p>
										</div>
									</div>
								</div>
							</div>												
						{% end %}						
						<!-- 吧评论 -->
						<div id="barposts">
							{%  local posts = article_model.data.articleList 
								if posts ~= nil and type(posts) == "table" then 
									for k, v in pairs(posts) do  
										local barId = v["barId"] 
										local digestId = v["mediaDigestId"] 
										local link = "post_detail_page.html?barId="..barId.."&digestId="..digestId
										local user = v["userBaseInfo"]								
										if k < 4 then %}
											<div class="product_barposts_module clearfix">
												<div class="pic">
													<img src="{{user.custImg}}" alt="">
													<div class="name">{{user.nickName}}</div>
													<div class="time">{{os.date("%Y-%m-%d", v["createDateLong"]/1000)}}</div>
												</div>
												<div class="desc">
													<div class="post_con">
														<h1 class="title"><a href="{{link}}" target="_blank">{{v["title"]}}</a></h1>
														<div class="content">
															<div class="brief"> <a href="{{link}}" class="left" target="_blank">{{v["content"]}}</a></div>		
														</div>
														{% if v["imgList"] ~= nil and v["imgList"] ~= "" then %}
															<ul class="pic_list clearfix">
																{% for key, val in pairs(v["imgList"]) do 
																	if (key < 3) then %}
																		<li><a href="{{link}}" target="_blank"><img src="{{val}}" alt=""></a></li>												
																	{% end
																end %}
															</ul>
														{% end %}																					
													</div>
													<div class="community clearfix">
														<a href="javascript:;" class="favor" data-praise="false" digestId="{{digestId}}" >
															<i class="icon icon_size_20"></i>
															<em class="praise_num">{{v["praiseNum"]}}</em>
														</a>
														<a href="{{link}}" target="_blank" class="comment">
															<i class="icon icon_size_20"></i>
															<em>{{v["commentNum"]}}</em>
														</a>
													</div>
												</div>											
											</div>
										{% end %}
										{% if k == 3 then %}
											<div class="product_barmore_module"><a href="bar_detail_page.html?barId={{barId}}" target="_blank">去看更多帖子</a></div>									
										{% end
									end
								end %}						
						</div>				
					</div>
					{% end %}
					<!-- 书吧结束 -->				
				</div>
				<!-- 左侧结束 -->
				
				<!-- 右侧开始 -->
				<div class="right">
					<!-- 作者还有哪些作品开始 -->
					<div id="otherbooks" class="clearfix">
						<div class="otherbooks">
							{% if media_buy_author_exceptthis_model ~= nil then 
								local mediaList = media_buy_author_exceptthis_model.data.mediaList
								if mediaList ~= nil then %}
									<div class="title"><span id="authorName">{{media_info.authorPenname}}</span>的其他作品</div>
									{%	for k, v in pairs(mediaList) do 
										local coverPic = string.gsub(v["coverPic"], "_aa_cover", "_cc_cover") %}									
										<div class="book">
											<img src="{{coverPic}}"/>
											<div class="bookname">{{v["title"]}}</div>
										</div>
									{% end
								end
							end %}		
						</div>
					</div>
					<!-- 作者还有哪些作品结束 -->
					
					<!-- 强力推荐开始 -->
					<div class="product_rec_wrapper"  dd_name="强力推荐">
						<div id="recommend">					
							{% if media_category_sale_top_model ~= nil then 
								local saleList = media_category_sale_top_model.data.saleList
								if saleList ~= nil then %}
								<div class="product_rectitle_module">强力推荐</div>
								{%	for k, v in pairs(saleList) do
										local mediaList = v["mediaList"][1] %}
										<div class="product_reccell_module clearfix">
											{% local link
												local mediaType = mediaList["mediaType"]
												local coverPic = string.gsub(mediaList["coverPic"], "_aa_cover","_cc_cover")
												if mediaType == 1 or mediaType == 2 then
													link = "./"..mediaList["saleId"]..".html"
												end	%}
											<div class="bookcover"><a href="{{link}}" target="_blank"><img src="{{coverPic}}" /></a></div>
											<div class="bookinfo">
												<div class="title"><a href="{{link}}" target="_blank"  title="{{mediaList["title"]}}">{{mediaList["title"]}}</a></div>
												<div class="author">{{mediaList["authorPenname"]}}</div>
												<div class="price">
													{% local price = price_model.dealPrice1(v) %}
													<span class="now">{{price}}</span>
													{% local originPrice = price_model.originPrice(mediaList) 
														if originPrice ~= nil and originPrice ~= "" then %}
														|<span class="ori">{{originPrice}}</span>
													{% end %}
												</div>
											</div>
										</div>
									{% end
								end
							end %}					
						</div>
					</div>
					<!-- 强力推荐结束 -->
					
					<!-- 买了还买开始 -->
					<div class="product_rec_wrapper margin_top_20">
						<div id="bookAlsoBuy">							
							{% if buy_also_buy_model ~= nil and 
								buy_also_buy_model.data.mediaList ~= nil and 
								type(buy_also_buy_model.data.mediaList) == "table" then %}
								<div class="product_rectitle_module">买过这本书的人还买过</div>
								{% for k, v in pairs(buy_also_buy_model.data.mediaList) do %}
									<div class="product_reccell_module clearfix">
										{%  local mediaType = v["mediaType"] 
										local coverPic = string.gsub(v["coverPic"], "_aa_cover", "_cc_cover")
										local title = v["title"]
										local link
										if mediaType == 1 or mediaType == 2 then
											link = "./"..v["saleId"]..".html"
										end %}
										<div class="bookcover"><a href="{{link}}" target="_blank"><img src="{{coverPic}}" /></a></div>
										<div class="bookinfo">
											<div class="title"><a href="{{link}}" target="_blank" title="{{title}}">{{title}}</a></div>
											<div class="author">{{v["authorPenname"]}}</div>
											<div class="price">												
												{% local price = price_model.dealPrice2(v) %}
												<span class="now">{{price}}</span>
												{% local originPrice = price_model.originPrice(v) 
													if originPrice ~= "" then %}
													|<span class="ori">{{originPrice}}</span>
												{% end %}
											</div>
										</div>
									</div>
								{% end 					
							end %}
						</div>
					</div>
					<!-- 买了还买结束 -->
				</div>
				<!-- 右侧结束 -->	
			</div>	
		</div>
		<input id="original_title" type="hidden" value="{{media_info.title}}" />
		<input id="original_desc" type="hidden" value="{{descs}}" />
		<input id="original_coverPic" type="hidden" value="{{media_info.coverPic}}" />
	</div>
	<!-- 中间内容结束 -->
	
	{(foot.html)}
	
	<!-- 右侧快捷功能按钮 start -->
    <div class="returntop">
		<div class="public_sideecode_module" dd_name="右侧二维码">
			<div class="wrap">
				<a href="javascript:;" class="sao"><span class="ma"><i></i><img src="img/erweima.png" /></span></a>
				<span class="close"></span>
			</div>
		</div>
		<div class="public_totop_module" dd_name="右侧返回顶部"></div>
	</div>
    <!-- 右侧快捷功能按钮 end -->
	
	<!-- 续借弹框 -->
	
	<!-- 发帖弹窗 -->
	<script type="text/template" id="postModuleTemplate">
		<div class="shadow post"></div>
		<div class="window post">
			<i class="icon close">关闭</i>
			<div class="form">
				<div class="item">
					<div class="label">标题:</div>
					<div class="content">
						<input type="text" placeholder="" id="postTitle"/>
					</div>
				</div>
				<div class="item">
					<div class="label">内容:</div>
					<div class="content" id="postContent">
						<iframe frameborder="0" id="ueditorIframe" name="ueditorIframe" width="700" height="530" src="/article/uePC.go"></iframe>
					</div>
				</div>
				<button class="submitbtn">发布</button>
			</div>
		</div>
	</script>

	<!-- 购买弹窗begin html_modules/payment/popUp.html-->
	<div class="payment_popUp_module">
		<div class="popUp_bg"></div>
		<div class="popUp_detail">
		</div>
	</div>
	<div class="load_module">
    	<div class="gray_bg"></div>
    	<div class="load_detail_container">
    		<p><img src="img/loading.gif" alt=""></p>
    		<p>支付中...</p>
    	</div>
    </div>
	<!-- 购买弹窗end -->
	
	<script type="text/javascript">
        var require = {urlArgs: "v=1453881061684"}
    </script>
	<script type="text/javascript" src="../lib/require.min.js" data-main="../js/original_single_"></script>
	<script>
		require.config({
　　　　　　baseUrl: "../js/",
　　　　　　paths: {
　　　　　　    "jquery": "../lib/jquery.min",
                "underscore": "../lib/underscore.min",
                "backbone": "../lib/backbone.min",
                "loginWindow":"http://static.ddimg.cn/js/login/LoginWindow.js?20150122"
　　　　    },
			shim:{
				'loginWindow': {
	　　　　　　　　deps: ['jquery'],
	　　　　　　　　exports: 'loginWindow'
				}
			}
　　    });
	</script>
	<script type="text/javascript" src="http://click.dangdang.com/js_tracker.js?20150907"></script>
</body>
</html>